<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>图书列表</title>
  </head>
  <body>
    <!-- swig 模版 -->
    <ul>
      {% for item in data %}
      <li>[[item.id]]-[[item.name]]</li>
      {% endfor %}
    </ul>
    <button id="btn">test</button>
    <!-- <script src="/js/underscore.js"></script> -->
    <script src="/js/myUnderscore.js"></script>
    <script>
      _.each([1, 2, 3], (item) => {
        console.log('item', item);
      });
      console.log('---------', _([1, 2, 3]));
      _([1, 2, 3]).each((item) => {
        console.log('item', item);
      });

      function log() {
        console.log(111);
      }

      document.getElementById('btn').onclick = _.throttle(log, 2000);
    </script>
  </body>
</html>
